* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  place-content: center;
}

.web-page {
  align-items: center;
  background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 1440px;
}

.header {
  align-items: center;
  display: flex;
  height: 245px;
  justify-content: space-between;
  margin-top: 118px;
  width: 1110px;
}

/* ==================== Header_description ==================== */
.header_description {
  display: flex;
  flex-direction: column;
  height: 245px;
  justify-content: space-between;
  width: 445px;
}

.header_description_h1 {
  color: #512051;
  font-size: 56px;
  font-weight: 700;
  height: 154px;
  letter-spacing: -2px;
  line-height: 48px;
  width: 445px;
}

.header_description_p {
  color: #927b91;
  font-size: 19px;
  font-weight: 500;
  height: 75px;
  letter-spacing: -0.63px;
  line-height: 25px;
  width: 445px;
}

/* ==================== Header_rating ==================== */
.header_rating {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  width: 540px;
}

.header_rating_first-container {
  align-items: center;
  background-color: #f7f2f7;
  border-radius: 8px;
  display: flex;
  height: 56px;
  width: 445px;
}

.header_rating_second-container {
  align-items: center;
  background-color: #f7f2f7;
  border-radius: 8px;
  display: flex;
  height: 56px;
  width: 445px;
  margin-left: 47px;
}

.header_rating_third-container {
  align-items: center;
  background-color: #f7f2f7;
  border-radius: 8px;
  display: flex;
  height: 56px;
  width: 445px;
  margin-left: 95px;
}

.header_rating_container_stars {
  display: flex;
  height: 16px;
  justify-content: space-between;
  margin: 0 22px;
  width: 117px;
}

.header_rating_container_p {
  color: #512051;
  font-size: 17px;
  font-weight: 700;
  height: 16px;
  text-align: center;
  width: 270px;
}

/* ==================== Main ==================== */
.main {
  display: flex;
  height: 266px;
  justify-content: space-between;
  margin-top: 78px;
  width: 1110px;
}

/* ==================== Main_first-container ==================== */
.main_first-container {
  background-color: #512051;
  border-radius: 8px;
  height: 234px;
  padding: 40px 32px;
  width: 350px;
}

/* ==================== Main_second-container ==================== */
.main_second-container {
  background-color: #512051;
  border-radius: 8px;
  height: 234px;
  padding: 40px 32px;
  width: 350px;
  margin-top: 15px;
}

/* ==================== Main_third-container ==================== */
.main_third-container {
  background-color: #512051;
  border-radius: 8px;
  height: 234px;
  padding: 40px 32px;
  width: 350px;
  margin-top: 30px;
}

/* ==================== Main_containers ==================== */
.main_containers_header_img {
  border-radius: 50%;
  width: 40px;
}

.main_containers_header {
  display: flex;
  margin-bottom: 31px;
}

.main_containers_header_text {
  gap: 10px;
  margin-left: 23px;
}

.main_containers_header_text_h2 {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
}

.main_containers_header_text_h3 {
  color: #ee68a4;
  font-size: 17px;
  font-weight: 400;
}

.main_containers_p {
  color: #ffffff;
  font-size: 17px;
  height: 234px;
  letter-spacing: -0.3px;
  line-height: 22px;
}/*# sourceMappingURL=style.css.map */