@media (max-width: 1130px) {
  $color-dark-grayish-magenta: #927b91;
  $color-light-grayish-magenta: #f7f2f7;
  $color-soft-pink: #ee68a4;
  $color-very-dark-magenta: #512051;
  $color-white: #ffffff;

  @mixin headerRatingContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    height: 78px;
    width: 327px;
  }

  @mixin mainContainer {
    height: 248px;
    padding: 40px 32px;
    width: 327px;
  }

  .web-page {
    background-image: url(./images/bg-pattern-top-mobile.svg),
      url(./images/bg-pattern-bottom-mobile.svg);
    background-position: top, bottom;
    height: 1430px;
    width: 375px;
  }

  .header {
    flex-direction: column;
    height: 606px;
    justify-content: flex-start;
    margin-top: 82px;
    width: 375px;
  }

  /* ==================== Header_description ==================== */
  .header_description {
    height: 219px;
    text-align: center;
    width: 327px;
  }

  .header_description_h1 {
    font-size: 40px;
    height: 102px;
    letter-spacing: -1.43px;
    line-height: 32px;
    width: 327px;
  }

  .header_description_p {
    height: 100px;
    width: 327px;
  }

  /* ==================== Header_rating ==================== */
  .header_rating {
    height: 266px;
    margin-top: 39px;
    width: 327px;
  }

  .header_rating_first-container {
    @include headerRatingContainer;
  }

  .header_rating_second-container {
    @include headerRatingContainer;
    margin-left: 0;
  }

  .header_rating_third-container {
    @include headerRatingContainer;
    margin-left: 0;
  }

  /* ==================== Main ==================== */
  .main {
    align-items: center;
    flex-direction: column;
    height: 924px;
    justify-content: flex-start;
    margin-top: 50px;
    width: 375px;
  }

  /* ==================== Main_first-container ==================== */
  .main_first-container {
    @include mainContainer;
  }

  /* ==================== Main_second-container ==================== */
  .main_second-container {
    @include mainContainer;
    margin-top: 16px;
  }

  /* ==================== Main_third-container ==================== */
  .main_third-container {
    @include mainContainer;
    margin-top: 16px;
  }

  /* ==================== Main_containers ==================== */
  .main_containers_header {
    display: flex;
    margin-bottom: 24px;
  }

  .main_containers_header_text {
    margin-left: 23px;
  }
}
