$color-dark-grayish-magenta: #927b91;
$color-light-grayish-magenta: #f7f2f7;
$color-soft-pink: #ee68a4;
$color-very-dark-magenta: #512051;
$color-white: #ffffff;

@mixin headerRatingContainer {
  align-items: center;
  background-color: $color-light-grayish-magenta;
  border-radius: 8px;
  display: flex;
  min-height: 56px;
  min-width: 445px;
}

@mixin mainContainer {
  background-color: $color-very-dark-magenta;
  border-radius: 8px;
  padding: 2.5rem 2rem;
  min-width: 350px;
}

* {
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  line-height: 1.1;
  place-content: center;
}

.web-page {
  align-items: center;
  background-image: url(../images/bg-pattern-top-desktop.svg),
    url(../images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  margin-top: 7.38rem;
  width: 1110px;
}

/* ==================== Header_description ==================== */
.header_description {
  display: flex;
  flex-direction: column;
  margin-right: 7.7rem;
  min-width: 445px;
}

.header_description_h1 {
  color: $color-very-dark-magenta;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.036em;
  line-height: 0.85;
  min-width: 465px;
}

.header_description_p {
  color: $color-dark-grayish-magenta;
  font-size: 1.19rem;
  font-weight: 500;
  letter-spacing: -0.033em;
  line-height: 1.3;
  padding-top: 1.7rem;
}

/* ==================== Header_rating ==================== */
.header_rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 540px;
}

.header_rating_first-container {
  @include headerRatingContainer;
  margin-right: 5.94rem;
}

.header_rating_second-container {
  @include headerRatingContainer;
  margin-left: 2.94rem;
  margin-right: 2.94rem;
  margin-top: 1rem;
}

.header_rating_third-container {
  @include headerRatingContainer;
  margin-left: 5.94rem;
  margin-top: 1rem;
}

.header_rating_container_stars {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.header_rating_container_stars img {
  padding-left: 0.2rem;
}

.header_rating_container_p {
  color: $color-very-dark-magenta;
  font-size: 1.06rem;
  font-weight: 700;
  text-align: center;
  padding-top: 0.3rem;
}

/* ==================== Main ==================== */
.main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 4.9rem;
  width: 1110px;
}

/* ==================== Main_first-container ==================== */
.main_first-container {
  @include mainContainer;
}

/* ==================== Main_second-container ==================== */
.main_second-container {
  @include mainContainer;
  margin-left: 1.87rem;
  position: relative;
  top: 0.94rem;
}

/* ==================== Main_third-container ==================== */
.main_third-container {
  @include mainContainer;
  margin-left: 1.87rem;
  position: relative;
  top: 1.88rem;
}

/* ==================== Main_containers ==================== */
.main_containers_header_img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.main_containers_header {
  display: flex;
  margin-bottom: 1.94rem;
}

.main_containers_header_text {
  gap: 0.63rem;
  margin-left: 1.44rem;
}

.main_containers_header_text_h2 {
  color: $color-white;
  font-size: 1.06rem;
  font-weight: 700;
}

.main_containers_header_text_h3 {
  color: $color-soft-pink;
  font-size: 1.06rem;
  font-weight: 400;
}

.main_containers_p {
  color: $color-white;
  font-size: 1.06rem;
  letter-spacing: -0.018em;
  line-height: 1.3;
}
